* {
  box-sizing: border-box;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.email-icon {
  width: 145px;
  height: 145px;
  padding: 23px;
}

.image-contain {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.rounded-profile {
  border-radius: 50%;
}

nav {
    display: block;
}

.sizing {
  margin: 10px;
}

h1, h2, h3, h4, h5, p, a, li{
  font-family: sans-serif;
  text-decoration: none;
}

.text-color {
  color: burlywood;
}

.text-color-2 {
  color: grey;
}

.font-space {
  margin: 10px;
}

.align-1 {
  text-align: justify;
}

div {
  text-align: center;
}

.dimension {
  box-sizing: border-box;
  padding: 74px;
  border: 0px;
  margin: 20px;
}

.text-align {
  text-align: justify
}

.item-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  font-weight: bold;
  position: relative;
  background: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s
}

button:hover {
  background-color: 	#214778;
  border-radius: 5px;
}

.button-align {
  display: flex;
  justify-content: space-between;
}


header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FLEX TRAINING SECTION */
.container {
  display: flex;
}

.container-2 {
  display: flex;
  flex-direction: column;
}

.box {
  width: 100px;
  flex-grow: 1;
}

.box-2{
  height: 200px;
  flex-grow: 1;
}

#red {
  background-image: url(../Images/IMG_0064.JPG);
  background-size: cover;
  background-attachment: fixed;
}

#yellow {
  background-color: #FFFF;
}

#purple {
  background-image: url(../Images/Canon\ .png);
  background-size: contain;
}

#green {
  background-color: white;
}

#black {
  background-image: url(../Images/Hive.jpeg);
}

#white {
  background-image: url(../Images/BBST.jpeg);
}